* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", cursive;
}
.flexible-section {
  display: flex;
}

.baby-shop-bg {
  background-image: url(images/baby-world-bg.gif);
  background-repeat: no-repeat;
  background-size: 60%;
}

.div-width {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.div-width img {
  width: 100%;
}

.div-width h1 {
  font-size: 90px;
  font-weight: 700;
  margin-top: 30px;
  color: white;
}

.div-width h2 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  line-height: 50px;
  color: white;
}

.part-of-h2 {
  color: rgb(87, 7, 60);
  font-weight: 900;
  font-size: 80px;
}

.div-width p {
  color: rgb(87, 7, 60);

  font-size: 20px;
}

.button {
  background-color: rgb(87, 7, 60);
  font-size: 30px;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  border: none;
}

.button:hover {
  background-color: white;
  color: rgb(87, 7, 60);
}
