* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", cursive;
}
.flexible-section {
  display: flex;
}

.baby-shop-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 145, 0, 0.479),
    rgba(162, 0, 255, 0.507)
  );
}

.div-width {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.div-width img {
  width: 100%;
}

.div-width h1 {
  font-size: 90px;
  font-weight: 700;
  margin-top: 30px;
  color: white;
}

.div-width h2 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  line-height: 50px;
  color: white;
}

.part-of-h2 {
  color: #42266b;
  font-weight: 900;
  font-size: 80px;
}

.div-width p {
  color: rgb(87, 7, 60);

  font-size: 20px;
}

.button {
  background: none;
  font-size: 30px;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  margin-top: 20px;
}

.button:hover {
  background-color: white;
  color: rgb(87, 7, 60);
}

/*Extra code for 2nd section start*/

.lowest-prices-bg {
  background: linear-gradient(
    90deg,
    rgba(250, 225, 3, 0.884),
    rgba(243, 101, 44, 0.747)
  );
}

.div-width .second-cover {
  width: 80%;
  margin-top: 20px;
}

/*Product section start*/

.product-section {
  background-image: url(images/product-bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
}

.product-div {
  width: 40%;
  box-shadow: 5px 7px 40px grey;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
  border-radius: 8px;
}

.chart-button {
  background: linear-gradient(45deg, rgb(245, 202, 10), rgb(216, 127, 10));
  padding: 15px 40px;
  color: white;
  margin: 180px 45px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

/*Hover Game*/

.hide {
  display: none;
}

.product-div:hover .hide {
  display: block;
  position: absolute;
}

.product-div:hover img {
  visibility: hidden;
}

.product-section h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.product-div img {
  width: 80%;
  margin-top: 20px;
}

.product-div h3 {
  font-size: 40px;
  color: #42266b;
}

.new-title {
  background-color: #42266b;
  width: 30%;
  color: white;
  display: inline;
  margin-left: -264px;
  padding: 5px 30px;
  margin-top: 30px;
}

/*linear-gradient border*/

#item-1 {
  border-right: 10px solid;
  border-image: linear-gradient(180deg, rgb(27, 2, 44), rgb(115, 69, 201));
  border-image-slice: 1;
}

#item-2 {
  border-right: 10px solid;
  border-image: linear-gradient(180deg, hsl(197, 93%, 48%), rgb(4, 44, 66));
  border-image-slice: 1;
}

#item-3 {
  border-right: 10px solid;
  border-image: linear-gradient(180deg, hsl(19, 93%, 48%), rgb(245, 142, 135));
  border-image-slice: 1;
}
